
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --color-white: #fff;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-500: 40px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 960px;

    font-family: 'Roboto', sans-serif;
    background: var(--color-slate-300, #d5e1ef);
}

.card-container {
    display: flex;
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300);
    border-radius: 20px;
    background: var(--color-white);
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    width: 320px;
    height: 499px;
}