
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-600: #2c7dfa;
    --color-slate-300: #d5e1ef;
    --color-slate-500: #68778d;
    --color-slate-900: #1f314f;
    --color-white: #fff;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-500: 40px;
    --font-size-text-preset-1: 22px;
    --font-size-text-preset-2: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: var(--color-slate-300);
    margin: 0 auto;
    padding: 0;
}

.card-container {
    display: flex;
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300);
    border-radius: 20px;
    background: var(--color-white);
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    width: 320px;
    height: 499px;
}

img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    background: var(--primary-color-600);
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 0px var(--spacing-200);
    align-items: center;
    gap: var(--spacing-200);
    align-self: stretch;
}

h1 {
    color: var(--color-slate-900);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Outfit, sans-serif;
    font-size: var(--font-size-text-preset-1);
    font-size: normal;
    font-weight: 700;
    line-height: 120%;
    align-content: stretch;
}

p {
    color: var(--color-slate-500);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Outfit, sans-serif;
    font-size: var(--font-size-text-preset-2);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.2px;
}

@media only screen and (min-width: 320px) and (max-width: 426px) {
    body {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        display: flex;
        padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-300);
        border-radius: 20px;
        background: var(--color-white);
        box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
        width: 320px;
        height: 499px;
    }

    img {
        width: 288px;
        height: 288px;
        border-radius: 10px;
        background: var(--primary-color-600);
    }

    .text-container {
        display: flex;
        flex-direction: column;
        padding: 0px var(--spacing-200);
        align-items: center;
        gap: var(--spacing-200);
        align-self: stretch;
    }

    h1 {
        color: var(--color-slate-900);
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Outfit, sans-serif;
        font-size: var(--font-size-text-preset-1);
        font-size: normal;
        font-weight: 700;
        line-height: 120%;
        align-content: stretch;
    }

    p {
        color: var(--color-slate-500);
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Outfit, sans-serif;
        font-size: var(--font-size-text-preset-2);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.2px;
    }

    
}